body {
    
    margin: 5px;
    background-color: #dfb9bf;
  }
  .square {
    font-size: 33px;
    border: 1px solid #b86170;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 40px;
  }

  