body {
    
    margin: 5px;
    background-color: #dfb9bf;
  }
  .square {
    font-size: 33px;
    border: 1px solid #b86170;
    border-radius: 5px;
    font-weight: bold;
    height: 45px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 40px;
  }

  .btnm {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

  